* {
    box-sizing: border-box;
    margin: 0;
}

.nav {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 2rem;
    position: relative;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
}

.legend-container {
    height: fit-content;
    position: absolute;
    border: solid 2px black;
    box-shadow: 0 0 0 5px white, 0 0 0 10px black;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    cursor: grab;
}

.drag {
    cursor: grabbing;
}

.game-over {
    position: fixed;
    padding: 2rem;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url("../Assets/pokeball.png");
    background-size: contain;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top:20%;
}

#timer {
    height: fit-content;
    position: absolute;
    border: solid 2px black;
    box-shadow: 0 0 0 5px white, 0 0 0 10px black;
    padding: .5rem;
    border-radius: 10px;
    background-color: white;
    z-index: 10;
    top: -20px;
    left: 48%;
}

@media screen and (max-width: 865px) {
    .legend-container {
        position: static;
    }

    .game-over {
        width: 325px;
        height: 325px;
    }

    #timer {
        position:static;
    }
}