.legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.found {
    opacity: .5;
}
