@font-face {
    font-family: Pokemon;
    src: url("../Assets/PokemonSolidNormal-xyWR.ttf");
}

#root {
    overflow: auto;
}

.nav-bar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    font-family: Pokemon;
    border-bottom: 1px solid black;
}

.nav-button-container {
    display: flex;
    gap: 1rem;
}

.nav-name {
    text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

.nav-button {
    padding: .5rem 2rem;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    transition: background-color .5s;
    border: 2px solid black;
}

.nav-button:hover {
    background-color: red;
    box-shadow: 0 0 1px 1px black;
}

.nav-button:active {
    background-color: darkred;
}

@media screen and (max-width: 480px){
    .nav-button {
        padding: .5rem .5rem;
    }
}