.tag {
    position: absolute;
    background-color: rgba(0, 0, 0, .95);
    color: white;
    border-radius: 5px;
}

.tag-item {
    list-style: none;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag-item:hover {
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.hide {
    display: none;
}

